In [1]:
import numpy as np
import pandas as pd

frame = pd.read_excel('學生成績單.xlsx')
frame

    學號   姓名   國文  英文  數學  地理  歷史   總分    平均   排名
0   48  吳振瑋   84  89  93  97  99  462  92.4    1
1   22  黃名明   95  95  89  84  91  454  90.8    2
2   18  郭淑枝  100  78  88  90  93  449  89.8    3
3    1  鄭淑珍  100  92  77  97  82  448  89.6    4
4   82  柯宜臻   94  68  97  97  90  446  89.2    5
..  ..  ...  ...  ..  ..  ..  ..  ...   ...  ...
95   9  林志成   67  98  50  57  52  324  64.8   96
96  92  吳昕婷   68  60  63  58  68  317  63.4   97
97  31  郭淑真   75  54  66  56  57  308  61.6   98
98  84  林珈發   68  62  60  63  52  305  61.0   99
99  69  黃心航   61  50  50  58  85  304  60.8  100

[100 rows x 10 columns]

In [2]:
def grade(v):
    if v >= 80:
        return '優'
    elif v >= 70:
        return '甲'
    elif v >= 60:
        return '乙'
    else:
        return '丙'


frame['等級'] = frame['平均'].map(grade)

In [3]:
frame

    學號   姓名   國文  英文  數學  地理  歷史   總分    平均   排名 等級
0   48  吳振瑋   84  89  93  97  99  462  92.4    1  優
1   22  黃名明   95  95  89  84  91  454  90.8    2  優
2   18  郭淑枝  100  78  88  90  93  449  89.8    3  優
3    1  鄭淑珍  100  92  77  97  82  448  89.6    4  優
4   82  柯宜臻   94  68  97  97  90  446  89.2    5  優
..  ..  ...  ...  ..  ..  ..  ..  ...   ...  ... ..
95   9  林志成   67  98  50  57  52  324  64.8   96  乙
96  92  吳昕婷   68  60  63  58  68  317  63.4   97  乙
97  31  郭淑真   75  54  66  56  57  308  61.6   98  乙
98  84  林珈發   68  62  60  63  52  305  61.0   99  乙
99  69  黃心航   61  50  50  58  85  304  60.8  100  乙

[100 rows x 11 columns]

In [4]:
frame1 = frame[['國文','英文','數學','地理','歷史']]
frame1

     國文  英文  數學  地理  歷史
0    84  89  93  97  99
1    95  95  89  84  91
2   100  78  88  90  93
3   100  92  77  97  82
4    94  68  97  97  90
..  ...  ..  ..  ..  ..
95   67  98  50  57  52
96   68  60  63  58  68
97   75  54  66  56  57
98   68  62  60  63  52
99   61  50  50  58  85

[100 rows x 5 columns]

In [5]:
def fun1(s):    
    return s.std()
frame1.apply(fun1)

國文    15.968084
英文    15.755711
數學    14.242489
地理    15.230737
歷史    15.214888
dtype: float64