In [1]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]
student

array([67, 78, 92, 74, 65])

In [2]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [3]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [4]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_53453/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [5]:
for i in s1:
    print(i)

67
78
92
74
65

In [6]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [9]:
#利用numpy的function做統計
np.sum(s1)

376

In [10]:
np.mean(s1)

75.2

In [11]:
np.std(s1)

9.620810776644555

In [12]:
np.median(s1)

74.0

In [13]:
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [14]:
import pandas as pd
pd.DataFrame({
    "Bob":[78, 92, 76, 91, 72],
    "Joe":[72, 81, 92, 94, 69],
    "Tom":[81, 65, 89, 81, 72],
},index = ['國文', '英文', '數學', '地理', '歷史'])

    Bob  Joe  Tom
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72

In [15]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns=['國文', '英文', '數學', '地理', '歷史']
             )

    國文  英文  數學  地理  歷史
1   67  96  65  67  84
2   93  72  72  93  85
3   88  75  68  60  87
4   73  83  80  88  62
5   83  82  97  75  71
6   95  71  80  71  71
7   61  85  96  92  62
8   99  79  69  66  86
9   72  88  64  69  74
10  67  61  62  90  95
11  99  89  60  96  71
12  79  65  75  83  96
13  82  93  75  97  96
14  74  70  82  79  94
15  71  82  96  66  76
16  77  67  97  94  76
17  78  77  79  69  65
18  91  91  90  87  94
19  92  61  99  70  68
20  81  88  69  74  69
21  68  87  99  95  61
22  88  61  95  97  65
23  67  71  89  78  91
24  89  60  91  68  81
25  71  80  89  77  99
26  70  94  60  81  86
27  95  72  62  72  83
28  73  77  81  95  98
29  96  90  90  87  98
30  83  75  89  99  70
31  98  84  85  93  73
32  83  66  90  90  78
33  87  87  62  98  93
34  90  60  99  69  67
35  84  63  90  94  66
36  75  88  75  89  86
37  88  68  87  85  67
38  90  86  95  89  84
39  82  78  85  65  69
40  65  75  71  68  77
41  96  84  86  91  72
42  86  87  70  79  89
43  62  95  70  96  86
44  60  97  60  94  99
45  61  83  66  85  75
46  99  69  85  74  99
47  64  69  87  82  67
48  97  98  69  96  96
49  90  77  76  72  82
50  91  82  63  74  79