In [1]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df.index = df['學號']
df1 = df.drop(columns='學號')
df1

      姓名   國文   英文  數學   地理  歷史   總分    平均
學號
1    鄭淑珍  100   92  77   97  82  448  89.6
2    王坤安   96   55  63   91  58  363  72.6
3    方雅慧   99   64  85   99  97  444  88.8
4    林向鈺   93   84  86   96  85  444  88.8
5    楊偉翔   71   63  86  100  94  414  82.8
..   ...  ...  ...  ..  ...  ..  ...   ...
96   張嘉韋   62   79  72   85  69  367  73.4
97   楊偉翔   59  100  71   65  71  366  73.2
98   游詩亞   97   56  77   94  76  400  80.0
99   梁柏宇   70  100  81   50  50  351  70.2
100  呂傑宣   63   97  67   60  89  376  75.2

[100 rows x 8 columns]

In [2]:
df1['排名'] = df1['平均'].rank(method='min',ascending=False)
df2 = df1.sort_values(by='平均',ascending=False)

In [7]:
df2.iloc[:10]

     姓名   國文   英文  數學  地理  歷史   總分    平均    排名
學號
48  吳振瑋   84   89  93  97  99  462  92.4   1.0
22  黃名明   95   95  89  84  91  454  90.8   2.0
18  郭淑枝  100   78  88  90  93  449  89.8   3.0
1   鄭淑珍  100   92  77  97  82  448  89.6   4.0
82  柯宜臻   94   68  97  97  90  446  89.2   5.0
4   林向鈺   93   84  86  96  85  444  88.8   6.0
3   方雅慧   99   64  85  99  97  444  88.8   6.0
46  呂傑宣   95   87  95  76  84  437  87.4   8.0
45  龐皓芳   81   92  83  90  91  437  87.4   8.0
30  葉祖雄   92  100  77  86  79  434  86.8  10.0

In [14]:
df2.iloc[-10:]

     姓名  國文  英文  數學  地理  歷史   總分    平均     排名
學號
72  陳倩妮  50  86  53  58  95  342  68.4   91.0
85  陳怡伶  58  82  76  56  60  332  66.4   92.0
19  賴苑禾  73  60  82  60  57  332  66.4   92.0
41  洪奎夫  75  68  51  79  56  329  65.8   94.0
62  程玫靖  50  55  96  58  69  328  65.6   95.0
9   林志成  67  98  50  57  52  324  64.8   96.0
92  吳昕婷  68  60  63  58  68  317  63.4   97.0
31  郭淑真  75  54  66  56  57  308  61.6   98.0
84  林珈發  68  62  60  63  52  305  61.0   99.0
69  黃心航  61  50  50  58  85  304  60.8  100.0

In [15]:
df2.head(n=10)

     姓名   國文   英文  數學  地理  歷史   總分    平均    排名
學號
48  吳振瑋   84   89  93  97  99  462  92.4   1.0
22  黃名明   95   95  89  84  91  454  90.8   2.0
18  郭淑枝  100   78  88  90  93  449  89.8   3.0
1   鄭淑珍  100   92  77  97  82  448  89.6   4.0
82  柯宜臻   94   68  97  97  90  446  89.2   5.0
4   林向鈺   93   84  86  96  85  444  88.8   6.0
3   方雅慧   99   64  85  99  97  444  88.8   6.0
46  呂傑宣   95   87  95  76  84  437  87.4   8.0
45  龐皓芳   81   92  83  90  91  437  87.4   8.0
30  葉祖雄   92  100  77  86  79  434  86.8  10.0

In [16]:
df2.tail(n=10)

     姓名  國文  英文  數學  地理  歷史   總分    平均     排名
學號
72  陳倩妮  50  86  53  58  95  342  68.4   91.0
85  陳怡伶  58  82  76  56  60  332  66.4   92.0
19  賴苑禾  73  60  82  60  57  332  66.4   92.0
41  洪奎夫  75  68  51  79  56  329  65.8   94.0
62  程玫靖  50  55  96  58  69  328  65.6   95.0
9   林志成  67  98  50  57  52  324  64.8   96.0
92  吳昕婷  68  60  63  58  68  317  63.4   97.0
31  郭淑真  75  54  66  56  57  308  61.6   98.0
84  林珈發  68  62  60  63  52  305  61.0   99.0
69  黃心航  61  50  50  58  85  304  60.8  100.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1 to 100
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學號      100 non-null    int64
 1   姓名      100 non-null    object
 2   國文      100 non-null    int64
 3   英文      100 non-null    int64
 4   數學      100 non-null    int64
 5   地理      100 non-null    int64
 6   歷史      100 non-null    int64
 7   總分      100 non-null    int64
 8   平均      100 non-null    float64
dtypes: float64(1), int64(7), object(1)
memory usage: 7.8+ KB

In [18]:
df2.query('排名<=10')

     姓名   國文   英文  數學  地理  歷史   總分    平均    排名
學號
48  吳振瑋   84   89  93  97  99  462  92.4   1.0
22  黃名明   95   95  89  84  91  454  90.8   2.0
18  郭淑枝  100   78  88  90  93  449  89.8   3.0
1   鄭淑珍  100   92  77  97  82  448  89.6   4.0
82  柯宜臻   94   68  97  97  90  446  89.2   5.0
4   林向鈺   93   84  86  96  85  444  88.8   6.0
3   方雅慧   99   64  85  99  97  444  88.8   6.0
46  呂傑宣   95   87  95  76  84  437  87.4   8.0
45  龐皓芳   81   92  83  90  91  437  87.4   8.0
30  葉祖雄   92  100  77  86  79  434  86.8  10.0

In [19]:
df2

     姓名   國文  英文  數學  地理  歷史   總分    平均     排名
學號
48  吳振瑋   84  89  93  97  99  462  92.4    1.0
22  黃名明   95  95  89  84  91  454  90.8    2.0
18  郭淑枝  100  78  88  90  93  449  89.8    3.0
1   鄭淑珍  100  92  77  97  82  448  89.6    4.0
82  柯宜臻   94  68  97  97  90  446  89.2    5.0
..  ...  ...  ..  ..  ..  ..  ...   ...    ...
9   林志成   67  98  50  57  52  324  64.8   96.0
92  吳昕婷   68  60  63  58  68  317  63.4   97.0
31  郭淑真   75  54  66  56  57  308  61.6   98.0
84  林珈發   68  62  60  63  52  305  61.0   99.0
69  黃心航   61  50  50  58  85  304  60.8  100.0

[100 rows x 9 columns]

In [23]:
df2.to_excel('學生成績單.xlsx',sheet_name='3年5班成績單')